@import "tailwindcss";

@theme {
  --color-black: #070724;
	--color-white: #f5f5f5;
	--color-dark-grey: #38384f;
	--color-light-grey: #838391;
	--color-aqua: #419ebb;
	--color-yellow: #eda249;
	--color-purple: #6f2ed6;
	--color-brick: #d14c32;
	--color-red: #d83a34;
	--color-orange: #cd5120;
	--color-green: #1ec2a4;
	--color-blue: #2d68f0;

  --font-antonio: Antonio, sans-serif;
  --font-spartan: Spartan, sans-serif;
}

@layer components {
  .btn-tab {
    @apply border border-white/40 w-full flex items-center gap-5 text-left py-4 px-5 cursor-pointer;
  }

  .btn-tab-number {
    @apply text-white/50 font-spartan font-bold text-xs;
  }
	
	.btn-tab-text {
    @apply font-spartan text-[11px] font-bold;
  }
}