---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import "../styles/dots.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/saturn/planet-saturn.svg"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preload" as="image" href="/assets/mercury/planet-mercury.svg">
    <link rel="preload" as="image" href="/assets/mercury/planet-mercury-internal.svg">
    <link rel="preload" as="image" href="/assets/mercury/geology-mercury.png">
    <link rel="preload" as="image" href="/assets/earth/planet-earth.svg">
    <link rel="preload" as="image" href="/assets/earth/planet-earth-internal.svg">
    <link rel="preload" as="image" href="/assets/earth/geology-earth.png">
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Explora los planetas del sistema solar en una experiencia interactiva y animada."
    />
    <title>The Planets</title>
    <ClientRouter />
  </head>
  <body class="bg-black text-white font-antonio">
    <div class="doc-stars doc-stars--sm"></div>
    <div class="doc-stars doc-stars--md"></div>
    <div class="doc-stars doc-stars--lg"></div>
    <Header />
    <main class="px-5 lg:px-10 py-6 max-w-screen-2xl mx-auto">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
